# Default values
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value

ServiceType: NodePort

Name: springboot-helm

image:
  repository: hub.tigerobo.com:88/tigerobo/springboot-helm
  tag: latest
  pullPolicy: IfNotPresent

Replicas: 1
Cpu: "10m"
Memory: "128Mi"
ContainerPort: 8080
ServicePort: 8080
DomainName: springboot-helm
