apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -c
    kompose.version: 1.18.0 (06a2e56)
  creationTimestamp: null
  labels:
    io.kompose.service: springboot-helm
  name: springboot-helm
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: springboot-helm
    spec:
      containers:
      - image: "{{.Values.Image}}:{{.Values.ImageTag}}"
        name: springboot-helm
        ports:
        - containerPort: 8080
        resources: {}
      restartPolicy: Always
status: {}
